.results-container {
	text-align: center;
}

.modal-content {
	display: inline-block;
	text-align: left;
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 50px;
	max-height: 500px;
	overflow: auto;
}

.modal {
	text-align: center;
}

.centered-button {
	display: inline-block;
	margin-left: 15px;
	margin-right: 15px;
}

.radio-button {
	margin-right: 10px;
	margin-left: 5px;
}

.graph-container {
	max-width: 720px;
	display: block;
	margin: auto;
	margin-top: 40px;
}