<br/>
<h1 style='text-align:center'>Request for contact information</h1>
<br/>
<p>
	{recipient} has requested the contact information of the speaker/performer for the rally that
	took place at {school_name} on {date}. You can see the full details
	<a href='http://records.nationalschoolproject.com/rally/{rallyID}'>here</a>.
	<br/>
	<br/> Speaker Name: {speaker_name}
	<br/>
	<br/> Speaker Phone Number: {speaker_phone}
	<br/> Speaker Email: {speaker_email}
	<br/>
	<br/> Performer Name: {performer_name}
	<br/>
	<br/> Performer Phone Number: {performer_phone}
	<br/> Performer Email: {performer_email}
</p>