.number-display {
    text-align: center;
}

.number-display--number {
    font-size: 36px;
    font-weight: bold;
    display: block;
    line-height: normal;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.number-display--number:hover {
	overflow:visible;
	white-space:normal;
}

.number-display--label {
    font-size: 14px;
    position: relative;
}